header {
    width: 60%;
    line-height: 10px;
    border-radius: 50px;
    margin:40px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgba(172, 17, 5, .4);
    color: aqua;
}
header h1 {
    font-size: 18px;
}
p {
    width: 50%;
    line-height: 30px;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 30px auto;
    background-color: rgba(172, 17, 5, .4);
}
a {
    color: cadetblue;
    text-decoration: none;
    color: blanchedalmond;
    font-weight: 900;
}
p:hover {
    border: 2px solid rgba(250, 250, 52, .5);
}
a:hover {
    color: aqua;
}